{{ 'feature.css' | asset_url | stylesheet_tag }}
<section class="feature_section">
  <div class="feature-header">
    <ul class="feature_header_list">
      <li>
        <img src="{{ 'Group 4324.png' | asset_url }}" alt="shipping icon">
        <p>FREE 2-DAY SHIPPING IN THE UNITED STATES!</p>
      </li>
      <li><img src="{{ 'Group 4224.png' | asset_url }}" alt="checkmark icon">
        <p>30 DAY 100% MONEY BACK GUARANTEE</p>
      </li>
      <li><img src="{{ 'Group 4224.png' | asset_url }}" alt="star icon">
        <p>RAVE REVIEWS FROM OUR CUSTOMERS</p>
      </li>
    </ul>
    <ul class="feature_header_list_resp">
      <li>
        <img src="{{ 'Group 4324.png' | asset_url }}" alt="shipping icon">
        <p>FREE 2-DAY <br/> USA SHIPPING</p>
      </li>
      <li><img src="{{ 'Group 4222.png' | asset_url }}" alt="checkmark icon">
        <p>100% MONEY-BACK <br/>
          GUARANTEE</p>
      </li>

    </ul>
  </div>
  <div class="feature-main_content">
    <div class="header">
      <h1>Buy More & Save More!</h1>
      <h2>Limited-Time Offer
      </h2>
      <img src="{{ 'Vector 198 (Stroke).png' | asset_url }}">
    </div>
    <div class="product_cards">
      <div class="product_card">
        <img class="product_img" src="{{ 'image 210.png' | asset_url }}">
        <div class="product_content">
          <h1 class="product_content-header">Buy MagicMassage™</h1>
          <p class="product_price">$69.95</p>
          <p class="product_shipping">+ Free Shipping
          </p>
          <div class="product_return">
            <img src="{{ 'Group 4386.png' | asset_url }}" alt="checkmark">
            <p>
              30-Day Money Back
            </p>
          </div>
          <div class="product_installment">
            <p>
              or 4 interest-free installments of $17.50 by
            </p>
            <button>afterpay<img src="{{ 'Vector (1).png' | asset_url }}" alt=""></button>
          </div>

          <button class="buy_btn">GET YOUR MAGIC</button>
          <div class="payment_options">
            <img src="{{ 'Group 4041.png' | asset_url }}" alt="amdc icon">
            <img src="{{ 'Group 4042.png' | asset_url }}" alt="apple icon">
            <img src="{{ 'Group 4043.png' | asset_url }}" alt="google icon">
            <img src="{{ 'Group 4044.png' | asset_url }}" alt="mastercard  icon">
            <img src="{{ 'Group 4045.png' | asset_url }}" alt="amdc icon">
            <img src="{{ 'Group 4047.png' | asset_url }}" alt="visa icon">
            <img src="{{ 'Group 4046.png' | asset_url }}" alt="paypal icon">
          </div>
        </div>

      </div>
      <div class="product_card">
        <img class="product_img" src="{{ 'image 224.png' | asset_url }}">
        <div class="product_content">
          <h1 class="product_content-header">Buy MagicMassage™</h1>
          <p class="product_price">$69.95</p>
          <p class="product_shipping">+ Free Shipping
          </p>
          <div class="product_return">
            <img src="{{ 'Group 4386.png' | asset_url }}" alt="checkmark">
            <p>
              30-Day Money Back
            </p>
          </div>
          <div class="product_installment">
            <p>
              or 4 interest-free installments of $17.50 by
            </p>
            <button>afterpay<img src="{{ 'Vector (1).png' | asset_url }}" alt=""></button>
          </div>

          <button class="buy_btn">GET YOUR MAGIC</button>
          <div class="payment_options">
            <img src="{{ 'Group 4041.png' | asset_url }}" alt="amdc icon">
            <img src="{{ 'Group 4042.png' | asset_url }}" alt="apple icon">
            <img src="{{ 'Group 4043.png' | asset_url }}" alt="google icon">
            <img src="{{ 'Group 4044.png' | asset_url }}" alt="mastercard  icon">
            <img src="{{ 'Group 4045.png' | asset_url }}" alt="amdc icon">
            <img src="{{ 'Group 4047.png' | asset_url }}" alt="visa icon">
            <img src="{{ 'Group 4046.png' | asset_url }}" alt="paypal icon">
          </div>
        </div>

      </div>
      <div class="product_card">
        <img class="product_img" src="{{ 'image 230.png' | asset_url }}">
        <div class="product_content">
          <h1 class="product_content-header">Buy MagicMassage™</h1>
          <p class="product_price">$69.95</p>
          <p class="product_shipping">+ Free Shipping
          </p>
          <div class="product_return">
            <img src="{{ 'Group 4386.png' | asset_url }}" alt="checkmark">
            <p>
              30-Day Money Back
            </p>
          </div>
          <div class="product_installment">
            <p>
              or 4 interest-free installments of $17.50 by
            </p>
            <button>afterpay<img src="{{ 'Vector (1).png' | asset_url }}" alt=""></button>
          </div>

          <button class="buy_btn">GET YOUR MAGIC</button>
          <div class="payment_options">
            <img src="{{ 'Group 4041.png' | asset_url }}" alt="amdc icon">
            <img src="{{ 'Group 4042.png' | asset_url }}" alt="apple icon">
            <img src="{{ 'Group 4043.png' | asset_url }}" alt="google icon">
            <img src="{{ 'Group 4044.png' | asset_url }}" alt="mastercard  icon">
            <img src="{{ 'Group 4045.png' | asset_url }}" alt="amdc icon">
            <img src="{{ 'Group 4047.png' | asset_url }}" alt="visa icon">
            <img src="{{ 'Group 4046.png' | asset_url }}" alt="paypal icon">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>