{{ 'question.css' | asset_url | stylesheet_tag }}
<section class="questions_section">
  <div class="questions_header">
    <h1>Frequently Asked
      <span>Questions</span>
    </h1>
    <img src="{{ 'Vector 198 (Stroke) (1).png' | asset_url }}" class="question_vector">
  </div>

  <div class="section_wrapper">
    <div>
      <img class="question_res_img_first" src="{{ 'Rectangle 1776.png' | asset_url }}">
      <img class="question_res_img" src="{{ 'Rectangle 1662.png' | asset_url }}">
    </div>
    <div class="questions_wrapper">
      <div class="each_question">
        <button class="question">How long does the battery last fully charged?
          <img class="question_arrow" src="{{ 'Vector (2).png' | asset_url }}">
        </button>
        <div class="panel">
          <p>The MagicMassage™ can last up to 6 hours when it's fully charged.</p>
        </div>
      </div>
      <div class="each_question">
        <button class="question">How long does the battery last fully charged?
          <img class="question_arrow" src="{{ 'Vector (2).png' | asset_url }}">
        </button>
        <div class="panel">
          <p>The MagicMassage™ can last up to 6 hours when it's fully charged.</p>
        </div>
      </div>
      <div class="each_question">
        <button class="question">How long does the battery last fully charged?

          <img class="question_arrow" src="{{ 'Vector (2).png' | asset_url }}">
        </button>
        <div class="panel">
          <p>What is included in the package</p>
        </div>
      </div>
      <div class="each_question">
        <button class="question">How long does the battery last fully charged?
          <img class="question_arrow" src="{{ 'Vector (2).png' | asset_url }}">
        </button>
        <div class="panel">
          <p>Is the MagicMassage™ designed only for the head?</p>
        </div>
      </div>
      <button class="all_question_btn">See All FAQ <img class="" src="{{ 'Vector (3).png' | asset_url }}"></button>
    </div>
  </div>
</section>