{{ 'review.css' | asset_url | stylesheet_tag }}
<section class="review_section">
  <div class="review_header_wrapper">
    <h1 class="review_header">Hear what our customers
      <span>
        are saying</span>
    </h1>
    <img
      class="review_vector"
      src="{{ 'Vector 198 (Stroke).svg' | asset_url }}"
      alt="vector" />
  </div>
  <div class="reviews_wrapper">
    <div class="total_reviews_wrapper">
      <div class="total_reviews">
        <div class="total_reviews_star">
          <img src="{{ 'Star 5.png' | asset_url }}" alt="rate_star">
          <img src="{{ 'Star 5.png' | asset_url }}" alt="rate_star">
          <img src="{{ 'Star 5.png' | asset_url }}" alt="rate_star">
          <img src="{{ 'Star 5.png' | asset_url }}" alt="rate_star">
          <img src="{{ 'Star 5.png' | asset_url }}" alt="rate_star">
        </div>
        <p>131 TOTAL REVIEWS</p>
      </div>
      <div>
        <button class="add_review_btn">Write a review</button>
      </div>
    </div>
    <div class="review_cards">
      <div class="review_card">
        <img src="{{ 'image 45.png' | asset_url }}" alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">I love the MagicMassage! It’s simple to use, does not mess up my curly hair as many other similar products do, and the massage is relaxing as it is refreshing. I feel like it has been made for my scalp! It just feels right.</p>
        </div>
      </div>
      <div class="review_card">
        <img src="{{ 'image 51.png' | asset_url }}" alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">I could not be happier with this product! I use it at night to relax and it does wonders for me. My kids and dog also love it, they’ll sit and let me massage their scalp for hours. At first my Labrador was hesitant not knowing what it was, but now she gets excited as soon as I take the MagicMassage out.</p>
        </div>
      </div>
      <div class="review_card">
        <img src="{{ 'image 52.png' | asset_url }}" alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">It arrived in perfect condition, and the packaging was immaculate. It felt amazing on my head, like someone was massaging it with the perfect pressure and speed. My long hair doesn't get caught in it at all, and I feel relaxed after using it. Best purchase I’ve made in a LONG time!</p>
        </div>
      </div>
      <div class="review_card">
        <img src="{{ 'image 53.png' | asset_url }}" alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">I could not love this massager more. I use it for scalp stimulation during showers as it feels great to massage with shampoo. I love that it's light enough to carry it with me when I travel and comfortable to use. The product looks luxurious and would recommend this to anyone looking for a high quality head massager.</p>
        </div>
      </div>
    </div>
    <div class="review_cards_slider">
      <div class="review_card_slider">
        <img
          class="review_card_slider_img"
          src="{{ 'image 45.png' | asset_url }}"
          alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">I love the MagicMassage! It’s simple to use, does not mess up my curly hair as many other similar products do, and the massage is relaxing as it is refreshing. I feel like it has been made for my scalp! It just feels right.</p>
        </div>
      </div>
      <div class="review_card_slider">
        <img
          class="review_card_slider_img"
          src="{{ 'image 51.png' | asset_url }}"
          alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">I could not be happier with this product! I use it at night to relax and it does wonders for me. My kids and dog also love it, they’ll sit and let me massage their scalp for hours. At first my Labrador was hesitant not knowing what it was, but now she gets excited as soon as I take the MagicMassage out.</p>
        </div>
      </div>
      <div class="review_card_slider">
        <img
          class="review_card_slider_img"
          src="{{ 'image 52.png' | asset_url }}"
          alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">It arrived in perfect condition, and the packaging was immaculate. It felt amazing on my head, like someone was massaging it with the perfect pressure and speed. My long hair doesn't get caught in it at all, and I feel relaxed after using it. Best purchase I’ve made in a LONG time!</p>
        </div>
      </div>
      <div class="review_card_slider">
        <img
          class="review_card_slider_img"
          src="{{ 'image 53.png' | asset_url }}"
          alt="">
        <div class="review_card_content">
          <div class="rate_auth">
            <div>
              <p class="rate_auth_name">Megan K.</p>
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
              <img src="{{ 'Star 2.png' | asset_url }}" alt="rate_star">
            </div>
            <div class="review_verify">
              <img src="{{ 'green.png' | asset_url }}" alt="checkmark">
              <p>VERIFIED BUYER</p>
            </div>
          </div>
          <p class="review_txt">I could not love this massager more. I use it for scalp stimulation during showers as it feels great to massage with shampoo. I love that it's light enough to carry it with me when I travel and comfortable to use. The product looks luxurious and would recommend this to anyone looking for a high quality head massager.</p>
        </div>
      </div>
    </div>

    <div class="slider-dots">
      <span class="slider-dots_item" onclick="currentSlide(1)"></span>
      <span class="slider-dots_item" onclick="currentSlide(2)"></span>
      <span class="slider-dots_item" onclick="currentSlide(3)"></span>
      <span class="slider-dots_item" onclick="currentSlide(4)"></span>
    </div>

  </div>
</section>